.alert {
  position: fixed;
  width: 300px;
  z-index: 100000;
  text-align: center;
  padding: 10px;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: slideDown 1s ease-in-out;
  background-color: white;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  top: 10px;
  transition: all linear 1s;
}

.parent {
  transition: all ease 0.5s;
}

.alerthead {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-bottom: 2px solid #c0bfbf;
}

@keyframes slideDown {
  0% {
    top: -50%;
  }

  100% {
    top: 10px;
  }
}
