.heading {
  text-align: center;
  margin-top: 75px;
  font-size: 3rem;
}
.contentbox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  height: 100vh !important;
}
