* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.471);
  border-radius: 20px;
}
body {
  width: 100%;

  background-color: rgb(235, 228, 218);
}
